@function background-color() {
  @return var(--bg-header);
}

.header {
  position: fixed;
  box-sizing: border-box;
  width: calc(100% - 1rem);
  margin: 0.5rem;
  border-radius: 1rem;
  top: 0;
  background-color: background-color();
  z-index: 100;
}

.logo {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 10rem;
}
