@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

@function background-color() {
  @return var(--bg-header);
}

.header {
  position: fixed;
  box-sizing: border-box;
  width: calc(100% - 1rem);
  margin: 0.5rem;
  border-radius: 1rem;
  top: 0;
  background-color: background-color();
  z-index: 1;

  @media (max-width: 400px) {
    &.donationspage {
      display: none !important;
    }
  }
}

.logo {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 10rem;
}

